<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>edfig</title>
    <meta name="description" content="A small collection of my Free Code Camp stuff">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Code stuff by edfig
      </h1>
      <p>
        A place for me to practice. Guided by Free Code Camp. Hopefully more in the near future.<br/>
        <br/>
        Peace,<br/>
        <br/>
        Edwin
      </p>
    </header>
    <h3>
      Paths:
    </h3>
    <span class="bold">Who Am I?</span>
    <p class="code">
      ./api/whoami
    </p>
    <p>
      <span class="bold">Headers</span>
    </p>
    <p class="code">
      ./api/headers
    </p>
    <p>
      <span class="bold">URL Shortener Microserver</span>
    </p>
    <p class="code">
      ./api/shorty/new/[valid URL] saves the URL + assign a shortycode
      ./api/shorty/[shortened code] will redirect you to the saved URL
    </p>
    <p>
      <span class="bold">Submit a file to view its filesize</span>
      <form action ="/upload" method="post" enctype="multipart/form-data"> <!--multer requires multipart/form-data enctype to work-->
        <label for="file">Please select a file</label>
        <input type="file" id="file" name="file">
        <input type="submit">
        <!--<button>Choose File...</button><span id="uploadedfile"> filename goes here </span><button>Submit</button>-->
      </form>
    </p>

    <footer>
      <a href="https://glitch.com">
        Remix this in Glitch
      </a>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
